/* body {
  background-color: #5e917b;
 
  justify-content: center;
 
  align-items: center;

  height: 100vh;

  margin: 30px;

}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.silicon-diaries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.silicon-diaries .div {
  background-color: #5e917b;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.silicon-diaries .silicon-text {

  width: 589px;
  height: 105px;

  margin-bottom: 20px;
}

.silicon-diaries .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #ecdbba;
  font-size: 90px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}


.box {
  width: 350px;
  height: 65px;
}

.box .overlap-group {
  position: relative;
  width: 350px;
  height: 65px;
  background-color: #161616;
  border-radius: 50px;
}

.box .text-wrapper {
  position: absolute;
  top: 16px;
  left: 48px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ecdbba;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .activities-tab {
  width: 352px;
  height: 65px;
}

.box .overlap-group {
  position: relative;
  width: 350px;
  height: 65px;
  background-color: #161616;
  border-radius: 50px;
}

.box .activities-tab-text {
  position: absolute;
  top: 16px;
  left: 24px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ecdbba;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.tabs {
  max-width: 100vw;
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  align-items: center;
}


.tab {
  width: 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background: darken(#2c3e50, 10%);
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;

  background: #ecdbba;

  transition: all .35s;
  overflow: hidden;

}


.tab-content img {
  max-width: 50%;
  display: block;
  margin: 0 auto;

}

.tab-content video {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

.tab-label[aria-expanded="true"]::after {
  transform: rotate(90deg);
} */

body {
  background-color: #5e917b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 30px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.silicon-diaries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.silicon-diaries .div {
  background-color: #5e917b;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.silicon-diaries .silicon-text {
  width: 589px;
  height: 105px;
  margin-bottom: 20px;
}

.silicon-diaries .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #ecdbba;
  font-size: 90px;
  text-align: center;
}

.box {
  width: 350px;
  height: 65px;
  background-color: #161616;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-header {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ecdbba;
  font-size: 28px;
}

.tabs {
  max-width: 100vw;
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  align-items: center;
}

.tab {
  width: 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}

.tab-label:hover {
  background: #2a3848;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: #ecdbba;
  transition: all .35s;
  overflow: hidden;
}

.tab-content img, .tab-content video {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
